
.page-footer {

  border-top: 1px solid black;
  
  .footer-container {

    @include bp(lap) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    &__col {
      display: block;
      margin-bottom: 20px;
      text-align: center;
    
      @include bp(lap) {
        flex: 0 0 50%;
        text-align: left;
      }

      .logo-container {

        display: block;
        width: fit-content;
        margin: 0 auto;
        
        @include bp(lap) {
          display: flex;
          margin-left: auto;
          margin-right: 0;

        }

        &__col {

          display: block;
          margin: 0 auto 20px;
          @include bp(lap) {
            flex: 1 1 auto;
            margin-bottom: 0px;
          }

          .roffey-logo {
            background-image: url('../images/roffey-homes-logo.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 192px;
            height: 78px;
            @include bp(lap) {
              margin-right: 20px;
            }
          }

          .wbc-logo {
            background-image: url('../images/wbc-logo.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 192px;
            height: 78px;
          }
    
    
        }
      }


    }
  }

}
