.social-media {
  
  display: inline-block;

//  border: solid 1px green;
  

  a {
    border: none;

    &:hover {
      border: none;
    }
  }


  &__icon {
    display: inline-block;
    height: 34px;
    width: 34px;
    
    &.mr--10 {
      margin-right: 10px;
    }
    
    position: relative;
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    // &--facebook {
    //   &::after {
    //     content: url('../images/social-facebook.svg');
    //   }
    // }

    // &--twitter {
    //   &::after {
    //     content: url('../images/social-twitter.svg');
    //   }
    // }

    // &--instagram {
    //   &::after {
    //     content: url('../images/social-instagram.svg');
    //   }
    // }

  }
}
