$c_cookie_bg: getcolor('white');

$c_cookie_accept_button_bg: getcolor('black');
$c_cookie_accept_button_text: getcolor('white');

$c_cookie_deny_button_bg: getcolor('black');
$c_cookie_deny_button_text: getcolor('white');

.cookie-accept {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: hsla(320, 20%, 30%, 0.4);
  //background-color: $mid_purple;

  opacity: 0;
  transition: max-height 0.3s linear, opacity 0.3s linear;
  z-index: 10002;
  pointer-events: none;

  &--show {
    max-height: 400px;
    opacity: 1;
    pointer-events: auto;
    display: block !important;
  }

  &__wrapper {
    //background-color: color('red');
  }

  &__container {
    background-color: $c_cookie_bg;
    padding: 10px;
    display: block;

    @include bp(lap) {
      //max-width: 1480px;
      margin: 0 auto;
      padding: 20px;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__content {
    font-size: 12px;
    font-family: $font-family;
    font-weight: 200;

    padding-right: 0px;
    line-height: 1.4em;

    @include bp(lap) {
      font-size: 14px;
      padding-right: 15px;
    }
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 0px;

    a {
      text-decoration: underline;
    }

    margin-top: 10px;

    @include bp(lap) {
      margin-top: 0;
    }
  }

  &__allow,
  &__deny {
    //    display: inline-block;
    //    background-color: $brand_orange;
    //    color: getcolor('white');
    //    border: 0;
    //    border-radius: 0;

    //    line-height: 2em;
    //    letter-spacing: .1em;
    //    text-transform: uppercase;

    //    width: 130px;
    //    box-sizing: border-box;
    //    border: 1px solid #aaa;
    //    cursor: pointer;

    //    font-size: 10px;
    //    padding: 5px 5px;

    // @include bp(lap) {
    // 	margin-left: 25px;
    // 	min-width: 180px;
    // 	margin-bottom: 0;
    // 	font-size: 11px;
    // 	padding: 5px 20px;
    // 	letter-spacing: .2em;
    //    }

    text-align: center;
    background-color: $c_cookie_accept_button_bg;
    border: solid 2px $c_cookie_accept_button_bg;
    border-radius: 5px;
    text-transform: uppercase;
    color: getcolor('white');

    line-height: 1em;

    padding: 5px 15px;

    @include bp(lap) {
      padding: 10px 20px;
    }

    white-space: nowrap;

    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.08em;

    user-select: none;
    transition: all 0.1s ease-in-out;

    &:hover {
      background-color: getcolor('white');
      border: solid 2px getcolor('black');
      color: getcolor('black');
      transition: all 0.2s ease-in-out;
    }
  }

  &__deny {
    background-color: $c_cookie_deny_button_bg;
    color: $c_cookie_deny_button_text;

    margin-right: 10px;

    @include bp(lap) {
      margin: 0 15px 10px;
    }
  }

  &__content p {
    margin-bottom: 0;
    color: #525758;

    @include bp(lap) {
      margin-bottom: 20px;
    }
  }
}
